@import "tailwindcss";
@import "../public/css/stylesheet.css";
@import 'swiper/css';
@import 'swiper/css/navigation';



.discountP{
    background-image: url('/public/image/Vector-.png');
    background-repeat: no-repeat;
}
.bane-dark {
    background-image: url('/public/image/baner/dark.png');
    background-repeat: no-repeat;
}
.bane-light {
    background-image: url('/public/image/baner/light.png');
    background-repeat: no-repeat;
}
/* Change to data-set  */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* color */
    /* dark */
    --color-dark-primary: #1e1e1e;
    --color-dark-secondary: #404040;
    --color-dark-tertiary: #515151;
    --color-dark-quaternary: #2f2f2f;
    --color-dark-quinary: #1D1D1D;
    --color-dark-quinary-2: #4A4A4A;
    --color-dark-quinary-3: #232323;
    --color-dark-quinary-4: #2E2E2E;


    --color-dark-glass-contrast: #000000e6;
    --color-dark-glass-contrast-2: #C1C1C133;
    /* blue */
    --color-blue-primary: #5264ff;
    --color-blue-secondary: #0098ea;
    --color-blue-tertiary: #4E30FF;
    --color-blue-quaternary: #7D8BFF;
    --color-blue-quinary: #3E5CFB73;

    /* gary */
    --color-gary-primary: #898989;
    --color-gary-secondary: #e2e2e2;
    --color-gary-tertiary: #a6a6a6;
    --color-gray-quaternary: #40404040;
    --color-gray-quinary: #d0d0d0;
    --color-gray-quinary:#EAEAEA;
    --color-gray-quinary-2: #D3D3D3;
    --color-gray-quinary-3: #D9D9D9;
    --color-gray-quinary-4:#3C3C4380;
    --color-gray-quinary-5: #BFBFBF80;
    --color-gray-quinary-6: #F5F6FA;
    /* orange */
    --color-orange-primary: #FF782C;
    --color-orange-secondary: #FF782C40;
    --color-orange-tertiary: #FFAA7C33;
    /* red */
    --color-red-primary: #ff3b3b;
    /* white */
    --color-white-primary: #FFFBFB;
    --color-white-secondary: #FFFFFF40;
    --color-white-tertiary: #FFFFFF66;
    --color-white-quaternary: #FFFFFF59;
    --color-white-quinary: #FBFBFB40;
    --color-white-quinary-2: #FBFBFB;
    --color-white-quinary-3:#EDEDED;

    /* pink */
    --color-pink-primary: #FF6588;
    
    /* radius */
    --radius-5xl: 3rem;
    --radius-6xl: 4rem;
    /* shadow */
    --shadow-primary :rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --shadow-secondary: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --shadow-tertiary: rgb(255 255 255 / 2%) 0px 1px 3px 0px, rgb(255 255 255 / 15%) 0px 0px 0px 1px;
    /* font */
    --font-IRANSansWeb: "IRANSansWeb";
    --font-Rokh:"RokhFaNum Normal";
    --font-Roboto:"Roboto";
    /* font size */
    --text-2xs: 0.625rem; /* 10px */
    --text-3xs: 0.7rem; 
    --text-4xs: 0.8rem; 
    --text-5xs: 0.9rem; 
    --text-6xs: 1.5rem; 
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 15px; /* 15px */  
    --text-md: 1.5rem;
    --text-base: 1rem; /* 16px */
    --text-lg: 2rem;
    --text-72:72px;
    --text-76: 76px; /* 76px */
    /* Gradient */
    --color-gradent-primary: linear-gradient(to bottom, #FFFFFF 0%, rgba(228, 228, 228, 0.75) 75.1%, rgba(255, 255, 255, 0.61) 100%);
}