@import "tailwindcss";
@import "../public/css/stylesheet.css";

/* Change to data-set  */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* color */
    /* dark */
    --color-dark-primary: #1e1e1e;
    --color-dark-secondary: #404040;
    --color-dark-tertiary: #515151;
    --color-dark-quaternary: #2f2f2f;
    --color-dark-glass-contrast: #000000e6;
    /* blue */
    --color-blue-primary: #5264ff;
    --color-blue-secondary: #0098ea;
    --color-blue-tertiary: #4E30FF;
    /* gary */
    --color-gary-primary: #898989;
    --color-gary-secondary: #e2e2e2;
    --color-gary-tertiary: #a6a6a6;
    --color-gray-quaternary: #40404040;
    --color-gray-quinary: #d0d0d0;
    /* orange */
    --color-orange-primary: #ff782c;
    --color-orange-secondary: rgba(255, 170, 124, 0.2);
    --color-orange-tertiary: #ff782c40;
    /* red */
    --color-red-primary: #ff3b3b;
    /* white */
    --color-white-primary: #FFFBFB;
    --color-white-secondary: #FFFFFF40;
    /* radius */
    --radius-5xl: 3rem;
    --radius-6xl: 4rem;
    /* shadow */
    --shadow-primary :rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --shadow-secondary: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --shadow-tertiary: rgb(255 255 255 / 2%) 0px 1px 3px 0px, rgb(255 255 255 / 15%) 0px 0px 0px 1px;
    /* font */
    --font-IRANSansWeb: "IRANSansWeb";
    --font-Rokh:"RokhFaNum Normal";
    --font-Roboto:"Roboto";
}