@import "tailwindcss";

body {
  font-family: "IRANSansWeb";
}

@theme {
  /* Color */
  --color-dark-700: #515151;
  --color-dark-800: #404040;
  --color-dark-900: #1e1e1e;

  --color-shape-primary: #4a4a4ac7;

  --color-dark-primary: #2f2f2f;

  --color-placeholder-primary: #898989;

  --color-secondary-gary: #a6a6a6;
  --color-disable-gray-400: #e2e2e2;

  --color-link-blue-400: #5264ff;

  --color-orange-primary: #ff782c40;
  --color-orange-secondary: #ffaa7c33;
  --color-orange-prim-txt: #ff782c;

  /* font */
  --font-IRANSansWeb: "IRANSansWeb";
  --font-RokhFaNum: "RokhFaNum Normal";
  --font-Roboto: "Roboto";
}
